@{
    ViewData["Title"] = "Home Page";
}


<div class="serviços-index">
    <div class="descrição">
        <img src="Banner.jpg">
        <h1>O <span class="destaque">Pet Shop</span> para o seu Pet!</h1>
        <h2>A NewPetShop oferece o melhor atendimento para o seus Pets de forma de luxo e barata. Temos ótimos serviços para garantir a Exelencia de seu Pet.</h2>
        </br>
        </br>
    </div>
</div>


