@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Bem Vindo ao site da veterinária</h1>

<div class="Banner">
<img src="@Banner-Principal.jpg" alt="Banner">
</div>

<img src="@Url.Content("~Banner-Pr") alt="Answer logo" />

